footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;/**/
    font-family: 'Roboto', sans-serif;
    background-color: #211F2A;
    color: whitesmoke;
    height: 10vh;
    width: 100vw;
}
