body{
    margin: 0;
    background-color: #211F2A;
    color: aliceblue;
    font-family: 'Barlow', sans-serif;
}

.main {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}

#header {
    position: relative; 
    width: 100%;
    height: 50vh;
    color: white;
    background-image: url('../image/backgroundHome.png');   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0; 
  }
  
  #header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(33, 31, 42, 0.5); 
    mix-blend-mode: multiply;
    z-index: -1; 
  }
  
  #header h1 {
    position: relative;
    color: #ededed;
    padding-top: 5vh;
    margin-left: 10vw;
    font-size: 2rem;
    z-index: 1; 
  }
  

#page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
    min-height: 20vh;
}

.games{
    width: 31%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-size: cover;
    background-repeat: no-repeat; 
    margin-bottom: 5vh;
    border-radius: 10px;
    margin-left: 1%;
    margin-right: 1%;
}

.info{
    height: 40%;
    color: aliceblue;
    background-color: rgba(33, 31, 42, 0.75);
}

.info .desc{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: -30px;
}

.info .plateforme{
    margin-left: 11%;
}