.main {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 90vh;
    width: 100%;

    background: #211F2A;
}

.card {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    background: #252836;
    border-radius: 20px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 10px;
}

.title {
    font-family: 'Barlow';
    font-size: 1.2em;
    color: white;
    font-weight: 600;
}

.text {
    font-family: 'Barlow';
    color: white;
    font-size: 0.8em;
    font-weight: 300;
}

.userInputSection {
    display: flex;
    flex-direction: column;
}

.userInputSection input {
    border-radius: 5px;
    background: #2B2F40;
    padding: 5px;
    font-family: 'Barlow';
    color: white;
}

.card button {
    background: #6757D6;
    width: fit-content;
    border-radius: 5px;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    color: white;
    font-weight: 400;
    font-size: 0.8em;
    font-family: 'Barlow';

    cursor: pointer;
}