.main {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
}

.card {
    box-shadow: rgba(86, 86, 87, 0.2) 0px 8px 24px;
    background: #252836;
    border-radius: 20px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 20px;
}

.title {
    font-family: 'Roboto';
    font-size: 1.2em;
    color: white;
    font-weight: 600;
}

.text {
    font-family: 'Roboto';
    color: white;
    font-size: 0.8em;
    font-weight: 300;
}

.userInputSection {
    display: flex;
    flex-direction: column;
}

.userInputSection input {
    border-radius: 5px;
    background: #2B2F40;
    padding: 5px;
    font-family: 'Roboto';
    color: white;
}

.card button {
    background: #6757D6;
    width: fit-content;
    border-radius: 5px;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    color: white;
    font-weight: 400;
    font-size: 0.8em;
    font-family: 'Roboto';
}